extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotro", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate aperiam eveniet accusamus omnis. Autem a nobis exercitationem dolorem, animi tempora minima cum corporis, maiores accusamus consequatur ullam nihil minus officiis.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tempora error velit optio consequatur, corporis laudantium harum dolorem non ut voluptatibus totam ipsam quod excepturi eos commodi molestias, eaque provident?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, consectetur rem esse necessitatibus maiores quasi, laborum fugiat qui pariatur mollitia, in praesentium officia quos sapiente dignissimos optio dolores molestiae? Reprehenderit?
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Seguridad. Seguridad. 
                col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Mejores Destinos  Mejores Destinos
                col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Mejor Precio 
